.productDetailsCard {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    color: grey;

    .infoDetail {
        display: flex;
        justify-content: space-between;
        img {
            width: 50%;
        }

        .productTitlePrice {
            width: 40%;
            margin-top: 5%;
            text-align: left;
            h1 {
                font-size: 25px;
            }
            p {
                font-size: 40px;
                font-weight: bold;
            }
            button {
                width: 90%;
                margin: 0 auto;
                background-color: rgb(72, 115, 255);
            }
        }
    }

    .infoDescription {
        margin-top: 5%;
        min-height: 300px;
    }
}